
@font-face {
  font-family: 'Optima-Bold';
  src: url('Optima-Bold.eot?#iefix') format('embedded-opentype'),  url('Optima-Bold.woff') format('woff'), url('Optima-Bold.ttf')  format('truetype'), url('Optima-Bold.svg#Optima-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}
